<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea" version="3.0.4" targetFramework="net472" />
  <package id="Alea.Fody" version="3.0.4" targetFramework="net472" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="net472" developmentDependency="true" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
</packages>